{% extends "_layouts/base.html" %}
{% block base_head %}
<title>Página no encontrada</title>
{% endblock %}
{% block base_body %}
<main class="flex flex-col">
  <section class="">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
      <div class="mx-auto max-w-screen-sm text-center">
        <h1
          class="mb-4 text-7xl tracking-tight font-extrabold md:text-8xl lg:text-9xl text-[#3d77d9]">
          404
        </h1>
        <p class="mb-4 text-3xl tracking-tight font-bold text-zinc-900 md:text-4xl">
          Página no encontrada
        </p>
        <p class="mb-4 text-base md:text-lg font-light text-zinc-500">
          Lo sentimos, la página <span class="font-medium text-blue-900">"{{ request.path }}"</span> no existe o no
          está disponible.
          <br />
          Por favor, revisá que la <span class="font-medium">URL</span> esté bien escrita o regresá al inicio.
        </p>
        <a href="/"
          class="inline-flex text-white bg-[#3d77d9] hover:bg-[#7eabf7] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium text-sm px-5 py-2.5 text-center dark:focus:ring-blue-900 my-4 rounded-full">Volver
          al inicio</a>
      </div>
    </div>
  </section>
</main>
{% endblock %}
