{% extends "_layouts/app.html" %}
{% import "_macros/form.html" as Form %}
{% import "_macros/button.html" as Button %}
{% import "_macros/link_button.html" as LinkButton %}

{% block head %}
{% if archivo.tipo == 'enlace' %}
<title>Editar enlace</title>
{% else %}
<title>Editar archivo</title>
{% endif %}
{% endblock %}

{% block content %}
<div class="flex flex-col items-center justify-center mt-10">
    {% if archivo.tipo == 'enlace' %}
    <h1 class="text-3xl font-bold mb-2 text-center">Modificar Enlace</h1>
    {% else %}
    <h1 class="text-3xl font-bold mb-2 text-center">Modificar Archivo</h1>
    {% endif %}
    <div class="flex flex-col items-center md:basis-1/2 shadow-2xl rounded-3xl">
        <form method="POST"
            action="{{ url_for('member.insert_updated_file', member_id = member.id, archivo_id = archivo.id) }}"
            class="flex flex-col gap-2 p-4 md:gap-4 md:mt-4">
            {{ Form.new_csrf_token() }}
            {{ Form.render_field(form.titulo) }}
            {% if archivo.tipo == "enlace" %}
            <input type="hidden" name="enlace" value="{{ archivo.enlace }}">
            {% endif %}
            <input type="hidden" name="tipo_archivo" value="{{ archivo.tipo }}">
            {% set props = {"data-button-update": "" } %}
            {{ Button.success("Editar","submit", **props) }}
            {{ LinkButton.info("Volver", "/member/showFiles/" ~ member.id) }}
        </form>
    </div>
</div>
<style>
    label[for="csrf_token"] {
        display: none;
    }
</style>
<script>
    const validTitle = possibleTitle => {
        return /^[a-zA-Z0-9áéíóúÁÉÍÓÚüÜñÑ\s,.-]+$/.test(possibleTitle.trim()) && possibleTitle.trim() !== '';
    }

    const validateForm = () => {
        const title = document.getElementById("titulo").value;

        if (!validTitle(title)) {
            alert("El título no es válido. Por favor, ingrese un título válido.");
            return false;
        }
        return true;
    }

    const updateFileButton = document.querySelector("[data-button-update]");
    updateFileButton.addEventListener("click", (event) => {
        const validForm = validateForm();
        if (!validForm) {
            event.preventDefault();
        }
    });
</script>
{% endblock %}