{% extends "_layouts/app.html" %}
{% import "_macros/button.html" as Button %}
{% import "_macros/form.html" as Form %}
{% import "_macros/link_button.html" as LinkButton %}
{% import "_macros/table.html" as Table %}
{% from "_macros/pagination.html" import Pagination %}

{% block head %}
<title>Ecuestres - CEDICA</title>
{% endblock %}

{% block content %}
<main class="flex-1 flex flex-col p-4">
  <div class="flex flex-col justify-center">
    <div class="flex  justify-center">
      <h1 class="mt-[1em] mb-4 mr-4 text-4xl font-bold font-mono">Ecuestres</h1>
    </div>
    <div class="flex  justify-center">
      <p class="mt-1 mb-4 mr-4 font-bold font-mono">
        Sección de ecuestres del sistema CEDICA.
      </p>
    </div>
    <div class="flex  justify-center">
      <div class="flex flex-wrap gap-4 mt-auto mb-4">
        {% if g.user_has_permissions(["ecuestre_create"]) %}
        {{ LinkButton.success("Registrar ecuestre", "/ecuestre/ecuestreRegister") }}
        {% endif %}
        {{ LinkButton.primary("Volver a inicio", "/", class="") }}
      </div>
    </div>
    <div class="flex flex-wrap justify-center">
      <form method="GET" action="{{ url_for('ecuestre.show_ecuestre') }}" class="flex flex-col gap-4">
        <div>
          <select name="tipo_JA" class="px-2 py-2 rounded-lg border-gray-300">
            <option value="" {% if tipo_JA=="" %}selected{% endif %}>Todos los tipos de J&A</option>
            <option value="hipoterapia" {% if tipo_JA=="hipoterapia" %}selected{% endif %}>Hipoterapia</option>
            <option value="monta_terapeutica" {% if tipo_JA=="monta_terapeutica" %}selected{% endif %}>Monta Terapéutica
            </option>
            <option value="deporte_ecuestre_adaptado" {% if tipo_JA=="deporte_ecuestre_adaptado" %}selected{% endif %}>
              Deporte Ecuestre Adaptado</option>
            <option value="actividades_recreativas" {% if tipo_JA=="actividades_recreativas" %}selected{% endif %}>
              Actividades Recreativas</option>
            <option value="equitacion" {% if tipo_JA=="equitacion" %}selected{% endif %}>Equitación</option>
          </select>

          <select name="criterio" class="px-7 py-2 rounded-lg border-gray-300">
            <option value="nombre" {% if criterio=='nombre' %}selected{% endif %}>Buscar por nombre</option>
          </select>
          <input type="text" name="busqueda" placeholder="Buscar" value="{{ busqueda }}"
            class="px-2 py-2 rounded-lg border-gray-300 mt-2">
          <select name="ordenar_por" class="px-5 py-2 rounded-lg border-gray-300">
            <option value="nombre" {% if ordenar_por=='nombre' %}selected{% endif %}>Ordenar por Nombre</option>
            <option value="fecha_nacimiento" {% if ordenar_por=='fecha_nacimiento' %}selected{% endif %}>Ordenar por
              fecha de Nacimiento</option>
            <option value="fecha_ingreso" {% if ordenar_por=='fecha_ingreso' %}selected{% endif %}>Ordenar por fecha de
              Ingreso</option>
          </select>
          {{ Button.success("Buscar 🔎","submit") }}
          <input type="hidden" name="orden" value="{{ orden }}">
          <button type="submit" name="toggle_order" value="{% if order == 'asc' %}desc{% else %}asc{% endif %}" class="font-medium rounded-lg ml-1 text-sm px-5 py-[9px] underline-offset-2 text-white bg-green-600 hover:bg-green-700
        focus:outline-none focus:ring-4 dark:focus:ring-green-800 ">
            {% if orden == 'asc' %}
            Cambiar a orden descendente
            <svg class="inline align-middle icon-svg" xmlns="http://www.w3.org/2000/svg" width="20px" height="20px"
              viewBox="0 0 24 24">
              <path fill="currentColor"
                d="M2 4h13v2H2zm0 7h13v2H2zm1 7H2v2h11v-2zm16 3.414l.707-.707l3-3l.707-.707L22 15.586l-.707.707L20 17.586V4h-2v13.586l-1.293-1.293l-.707-.707L14.586 17l.707.707l3 3z" />
            </svg>
            {% else %}
            Cambiar a orden ascendente
            <svg class="inline align-middle icon-svg" xmlns="http://www.w3.org/2000/svg" width="20px" height="20px"
              viewBox="0 0 24 24">
              <path fill="currentColor"
                d="M19 2.586L23.414 7L22 8.414l-2-2V20h-2V6.414l-2 2L14.586 7zM2 4h11v2H2zm0 7h13v2H2zm0 7h13v2H2z" />
            </svg>
            {% endif %}
          </button>
          {{ LinkButton.warning("Borrar filtros", "/ecuestre/showEcuestre") }}
        </div>
      </form>
    </div>

    <div class="mt-4 mx-auto">
      {% call Table.Table(class="w-full max-w-sm mx-auto mt-8 rounded-lg p-4") %}
      {{ Table.TableHead(["Nombre", "Fecha de nacimiento", "Fecha de ingreso", "Tipo de J&A asociado", "Sede",
      "Acciones"], class="bg-blue-200", col_class="px-6 py-3") }}
      <tbody>
        {% if ecuestre|length == 0 %}
        <tr>
          <td class="text-center font-medium" colspan="6">No se encontraron ecuestres</td>
        </tr>
        {% endif %}
        {% for e in ecuestre %}
        <tr class="border-b border-gray-200 py-2">
          <td class="text-lg px-6 py-4">{{ e.nombre }}</td>
          <td class="text-lg px-6 py-4">{{ e.fecha_nacimiento.strftime('%d/%m/%Y %H:%M') }}</td>
          <td class="text-lg px-6 py-4">{{ e.fecha_ingreso.strftime('%d/%m/%Y %H:%M') }}</td>
          <td class="text-lg px-6 py-4">{{ e.tipo_JA }}</td>
          <td class="text-lg px-6 py-4">{{ e.sede }}</td>
          {% if g.user_has_permissions(["ecuestre_show", "ecuestre_index"]) %}
          <td class="px-6 py-4">
            <div class="flex gap-2">
              {{ LinkButton.info("Documentos", "/ecuestre/show_files/" ~ e.id) }}
              {% if g.user_has_permissions(["ecuestre_update"]) %}
              {{ LinkButton.info("Editar", "/ecuestre/editEcuestre/" ~ e.id ) }}
              {% endif %}
              {% if g.user_has_permissions(["ecuestre_destroy"]) %}
              <form action="{{ url_for('ecuestre.delete_ecuestre', ecuestre_id=e.id) }}" method="POST" class="inline">
                {{ Form.new_csrf_token() }} <!-- Esto agrega el campo CSRF -->
                {{ Button.danger("Borrar", "submit", class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600",
                **{"data-button-delete-ecuestre": "", "data-name": e.nombre}) }}
                {% endif %}
              </form>
            </div>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
      {% endcall %}

    </div>
    {% if total %}
    <div class="mt-4 flex-none">
      {% set query_args = (["criterio=" ~ criterio] if criterio else []) + (["busqueda=" ~ busqueda] if busqueda else
      []) + (["ordenar_por=" ~ ordenar_por] if ordenar_por else []) + (["orden=" ~ orden] if orden else []) %}
      {{ Pagination(page, per_page, total, query_args) }}
      <p class="justify-center text-center">Mostrando {{ ecuestre|length }} de {{ total }} ecuestres</p>
    </div>
    {% endif %}
</main>

<script>
  /** @type {NodeListOf<HTMLButtonElement>} */
  const deleteEcuestreButtons = document.querySelectorAll('[data-button-delete-ecuestre]');

  deleteEcuestreButtons.forEach((button) => {
    button.addEventListener('click', (event) => {
      const ecuestreName = event.target.getAttribute('data-name');
      if (!confirm(`¿Estás seguro de que quieres eliminar el ecuestre ${ecuestreName}?`)) {
        event.preventDefault();
      }
    });
  });
</script>
{% endblock %}