{% extends "_layouts/app.html" %}
{% import "_macros/form.html" as Form %}
{% import "_macros/button.html" as Button %}
{% import "_macros/link_button.html" as LinkButton %}

{% block head %}
<title>Subir documento</title>
{% endblock %}

{% block content %}
<h1 class="text-2xl font-bold mb-4 text-center">Subir documento</h1>

<form action="{{ url_for('ecuestre.upload_file', ecuestre_id=ecuestre) }}" method="POST" class="w-full max-w-sm mx-auto mt-8" enctype="multipart/form-data">
  {{ form.hidden_tag() }}  <!-- Esto agrega el campo CSRF -->
  {% call Form.render_form(form, action=form_action) %}
  <div class="flex flex-col xs:flex-row gap-4 justify-around">
    {{ LinkButton.danger("Volver", url_for('ecuestre.show_files', ecuestre_id=ecuestre), class="") }}
    {{ Button.success("Guardar Cambios", "submit") }}
  </div>
  {% endcall %}
  
</div>

</form>
{% endblock %}