{% extends "_layouts/auth.html" %}
{% import "_macros/form.html" as Form %}
{% import "_macros/button.html" as Button %}

{% block head %}
<title>Registro</title>
{% endblock %}
{% block content %}
<div class="flex flex-col items-center justify-center mt-5">
  <h1 class="text-3xl font-bold text-center mb-2">Registro</h1>
  <p class="text-center text-gray-500 mb-5">Por favor, complete el siguiente formulario para registrarse.</p>
  <div class="flex flex-col items-center md:basis-1/2 w-[400px] shadow-2xl rounded-3xl">
    {% call Form.render_form(form, action=form_action) %}
    {{Button.success("Registrarse","submit")}}

    <div class="flex items-center justify-center w-full mt-4">
      <span class="px-3 text-gray-500 whitespace-nowrap">Otras formas de registrarse</span>
    </div>

    <a href="/register_callback" class="flex flex-row items-center justify-center  font-medium rounded-lg text-sm px-5 py-2.5
    text-white bg-blue-600 hover:bg-blue-700
    focus:outline-none focus:ring-4 focus:ring-green-500 dark:focus:ring-green-800">
      <p class="mr-2">Registrarse con</p>

      <svg class="" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 488 512">
        <path fill="white"
          d="M488 261.8C488 403.3 391.1 504 248 504C110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6c98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4" />
      </svg>
      oogle
    </a>
    {% endcall %}


    <a class="text-cyan-600 underline mb-5" href="login">Ya tengo una cuenta</a>
  </div>
</div>

{% endblock %}