{% extends "_layouts/base.html" %}
{% import "_macros/button.html" as Button %}
{% import "_macros/form.html" as Form %}
{% block head %}


<title>CEDICA</title>


{% endblock %}


{% block content %}
<main class="flex flex-col lg:flex-row h-full w-full relative justify-center mt-10">

    <form method="post">



        <div class="flex flex-col ">
            {% call Form.render_form(form, action=form_action) %}
            <div class="flex flex-col xs:flex-row gap-4 justify-around">
                <div class="flex flex-col mt-3">
                    {{Button.success("Confirmar","submit")}}
                </div>
            </div>
            {% endcall %}
        </div>

    </form>

</main>

{% endblock %}